@import '~@fontsource/markazi-text';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  background-color: rgb(73, 94, 87);
  display: flex;
  height: 500px;
  width: 100%;
}

.hero-container{
  display: flex;
  margin-left: 12.5%;
  margin-right: 12.5%;

}
.hero-intro {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 450px;
  margin: 30px 0 20px 0;
  padding-top: 20px;
  width: calc(100% - 30px); 
  line-height: 1.5;
  font-size: 18pt;
}

#hero-header {
  font-family: 'Markazi Text', serif;
  font-size: 64pt;
  font-weight: 500;
  color: #000;
  line-height: 0.2em;
}

#hero-subheading {
  font-size: 40pt;
  font-family: 'Markazi Text', serif;
  font-weight: normal;
  color: #000;
  padding-top: 5px;
}

.hero-desc {
  color: white;
  text-align: left;
  max-width: 400px;
  margin-bottom: 20px;
  width: calc(100% - 30px); 
}

.cta-button {
  background-color: #fece14;
  color: #f4f4f4;
  border: none;
  font-size: 18pt;
  text-decoration: none;
  border-radius: 20px;
  max-width: 400px;
  padding: 10px 10px;
  text-align: center;
  margin:5px 0;
  font-weight: bold;
}

.cta-button:hover {
  background-color: #ee9972;
  color:#f4f4f4;
}
.cta-button:active {
  background-color: #f4f4f4;
  color: #333333;
}

.image-item {
  display: flex;
  margin-bottom: -60px;
  margin-top: 40px;
  justify-content: flex-end;
}

.image-item img {
  height: 550px;
  width: 400px;
  border-radius: 15px;
  position: relative;
  left: 12.5%;
}




