@import "~@fontsource/karla";

#root {
  display: flex;
  flex-direction: column;
  font-family:'karla',sans-serif;
  max-width: 1440px;
  color:#333333;
  line-height: 1.5;
}
.body{
  line-height: 1.5;
}
.main-section{
  height: 100%;
  flex:1;
}
.specials-section .about-section{
  margin-right:12.5%;
  margin-left: 12.5%;
}


